.info {
  height: 260px;
  background-color: white;
  text-align: center;
}

.title {
  margin: 0;
  padding-top: 70px;
  font-size: 24px;
}

.desc {
  width: 770px;
  font-size: 13px;
  padding-top: 20px;
  margin: auto;
  color: grey;
}
